include README*.md
include Makefile
recursive-include docs *.png *.md
recursive-include src *.pyx *.pxd *.h
include resolver/Cargo.toml
include resolver/Cargo.lock
recursive-include resolver *.rs
graft tests
global-exclude *.py[cod] *.c
